@font-face {
  font-family: 'IBM Plex Sans';

  src:
    url('../../../public/assets/fonts/IBMPlexSans-VariableFont_wdth\,wght.ttf')
      format('truetype-variations'),
    url('../../../public/assets/fonts/IBMPlexSans-VariableFont_wdth\,wght.ttf') format('truetype');

  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';

  src:
    url('../../../public/assets/fonts/JetBrainsMono-VariableFont_wght.ttf')
      format('truetype-variations'),
    url('../../../public/assets/fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');

  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
