.interface-container {
  position: relative;
  z-index: 10;
  max-width: 600px;

  margin: 0 0 0 auto;

  padding: 1rem;
  background: #ada996;
  background: -webkit-linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  border-radius: var(--radius-sm);
  backdrop-filter: blur(12px);
  color: var(--text-inverse);

  display: flex;
  flex-direction: column;
  gap: 2rem;

  box-shadow: var(--shadow-recess);
}

// 1. Toggle Buttons
.channel-toggle {
  display: flex;
  gap: 1rem;
  justify-content: center;

  button {
    padding: 0.75rem 1.5rem;
    background: transparent;
    border: 1px solid var(--tinted-gray-900);
    box-shadow: var(--shadow-fader-cap);

    color: var(--text-inverse);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1rem;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &.active {
      background: white;
      color: var(--text-inverse);
      box-shadow: var(--shadow-recess);
    }
  }
}

.graph-wrapper {
  width: 100%;
  background: var(--tinted-gray-500);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);

  .audiogram-svg {
    width: 100%;
    height: auto;
    display: block;

    .line-right {
      fill: none;
      stroke: #ff4757;
      stroke-width: 3;
      transition: opacity 0.3s ease;
    }

    .line-left {
      fill: none;
      stroke: #1e90ff;
      stroke-width: 3;
      stroke-dasharray: 8 4;
      transition: opacity 0.3s ease;
    }

    .faded {
      opacity: 0.15;
    }

    .drag-handle {
      fill: white;
      stroke: var(--tinted-gray-300);
      stroke-width: 3;
      cursor: grab;
      transition: transform 0.1s ease;

      transform-origin: center;
      transform-box: fill-box;

      &:hover {
        transform: scale(1.2);
        stroke: var(--feedback-success);
      }

      &:active {
        cursor: grabbing;
        box-shadow: 0 0 5px var(--feedback-success);
      }
    }
  }
}

.manual-input-grid {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;

  .input-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    label {
      font-size: 1rem;
      color: var(--text-inverse);
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    input {
      width: 50px;
      padding: 0.5rem;
      background: var(--tinted-gray-300);
      border: 1px solid var(--text-inverse);
      color: var(--text-inverse);
      border-radius: 6px;
      text-align: center;
      font-family: monospace;
      font-size: 1rem;
      box-shadow: var(--shadow-recess);

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      -moz-appearance: textfield;

      &:focus {
        outline: none;
        box-shadow: 0 0 5px var(--feedback-success);
      }
    }
  }
}
