@use '../../../../../styles/abstracts/mixins' as *;

.feature-card {
  @include flexbox(column, center, center, 1rem);
  max-height: 15rem;
  max-width: 18rem;

  padding: var(--space-lg) var(--space-md);

  border-radius: var(--radius-sm);

  background: var(--tinted-gray-800);
  border: solid 2px var(--tinted-gray-500);

  box-shadow: var(--shadow-panel);

  text-align: center;
}
